<span class="album-details-description">{{desc}}</span>
<a class="album-details-goto" data-album-id={{albumid}} href="{{url}}">Access collection</a>
<a class="album-details-delete" data-album-id={{albumid}} href=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>