<h1>Users online</h1>

<ul id="users-online-list" data-empty-message="There are no users online."></ul>

{{#if isSignedIn}}
<div id="myalbums"></div>
{{/if}}

{{#if isSignedIn}}
<h1>Invitations</h1>
<ul id="myinvites" data-empty-message="You have no pending invitations."></ul>
{{/if}}
